[submodule "submodule1"]
	path = submodule1
	url = https://github.com/abhishekhsaini/submodule1.git
    branch = main
[submodule "submodule2"]
	path = submodule2
	url = https://github.com/abhishekhsaini/submodule2.git
    branch = main
